@use '../../../../assets/styles/variables' as *;

.menu-list {
  list-style: none;
  padding-left: 0;

  li a {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #d4d4d4;
    font-size: 0.95rem;
    text-decoration: none;
    transition: background 0.2s ease;

    i {
      margin-right: 0.75rem;
      width: 20px;
      text-align: center;
    }

    &:hover {
      background-color: #2a343d;
    }

    &.active {
      background-color: $secondary;
      color: white;
      border-left: 4px solid #96ba3a;
    }
  }
}

