<aside class="sidebar">
  <ul class="menu-list">
    <li>
      <a
        [routerLink]="paths.HealthStaff.Dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="paths.HealthStaff.ReportRequests.List"
        routerLinkActive="active"
      >
        <i class="fas fa-tasks"></i>
        <span>Solicitudes</span>
      </a>
    </li>
    <li>
      <a [routerLink]="paths.Analytics.Summary" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i>
        <span>Información demográfica</span>
      </a>
    </li>
    <li>
      <a [routerLink]="paths.Analytics.Map" routerLinkActive="active">
        <i class="fas fa-map"></i><span>Mapa sanitario</span>
      </a>
    </li>
  </ul>
</aside>
