<section class="section is-flex is-align-items-center is-justify-content-center" style="min-height: calc(100vh - 200px);">
  <div class="box" style="max-width: 400px; width: 100%;">
    <h1 class="title has-text-centered">Iniciar sesión</h1>

    <div *ngIf="error" class="notification is-danger is-light">
      <button class="delete" (click)="error = null"></button>
      {{ error }}
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="field">
        <label class="label">Correo electrónico</label>
        <div class="control has-icons-left">
          <input class="input" type="email" formControlName="email" placeholder="ejemplo@correo.com" required>
          <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
        </div>
      </div>

      <div class="field">
        <label class="label">Contraseña</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="password"
            placeholder="*********"
            required
            autocomplete="current-password"
          />
          <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>

          <span
            class="icon is-small is-right"
            role="button"
            tabindex="0"
            (click)="togglePassword()"
            (keydown.enter)="togglePassword()"
            (keydown.space)="togglePassword()"
            [attr.aria-label]="passwordVisible ? 'Ocultar contraseña' : 'Mostrar contraseña'"
            style="cursor:pointer; pointer-events:auto"
          >
            <svg *ngIf="!passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
              <path fill="currentColor" d="M12 5c5 0 9.27 3.11 11 7-1.73 3.89-6 7-11 7S2.73 15.89 1 12C2.73 8.11 7 5 12 5zm0 2C8.14 7 4.79 9.29 3.35 12 4.79 14.71 8.14 17 12 17s7.21-2.29 8.65-5C19.21 9.29 15.86 7 12 7zm0 2a3 3 0 110 6 3 3 0 010-6z"/>
            </svg>
            <svg *ngIf="passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
              <path fill="currentColor" d="M2 5.27L3.28 4l16.97 16.97-1.27 1.27-2.56-2.56A12.1 12.1 0 0112 19c-5 0-9.27-3.11-11-7a12.9 12.9 0 013.74-4.67L2 5.27zM7.11 7.38A10.2 10.2 0 004.35 12c1.44 2.71 4.79 5 7.65 5 1.36 0 2.64-.3 3.79-.85l-1.67-1.67c-.33.13-.68.2-1.05.2a3 3 0 01-3-3c0-.37.07-.72.2-1.05L7.11 7.38zM12 7c.9 0 1.76.16 2.55.46l-1.54 1.54A2.98 2.98 0 0012 9a3 3 0 00-3 3c0 .46.11.89.3 1.27l-1.5-1.5A10.2 10.2 0 0112 7zm7.65 5c-.49.91-1.13 1.75-1.9 2.5l-1.42-1.42A5 5 0 0017 12a5 5 0 00-5-5c-.38 0-.75.04-1.1.12L9.24 5.45A12.3 12.3 0 0112 5c5 0 9.27 3.11 11 7-.4.9-.92 1.74-1.52 2.5l-1.83-1.83z"/>
            </svg>
          </span>
        </div>
      </div>

      <div class="field mt-2 has-text-centered">
        <span>¿Todavía no tienes cuenta?</span>
        <button type="button" class="button is-text is-small ml-2" (click)="goToRegister()">Registrate</button>
      </div>

      <div class="field mt-4">
        <button class="button is-primary is-fullwidth" [disabled]="form.invalid">Ingresar</button>
      </div>
    </form>
  </div>
</section>


