<footer class="asis-footer">
  <div class="asis-footer-content">
    <p>Sistema ASIS – UNLP</p>
    <p>Villa Argüello, Berisso · © {{ currentYear }}</p>

    <div class="social-links is-flex is-justify-content-center is-align-items-center">
      <a href="https://unlp.edu.ar/redintersalud/" target="_blank" aria-label="Facebook" class="mx-2">
        <i class="fa fa-globe"></i>
      </a>
      <a href="https://www.facebook.com/prosecretariasalud.unlp" target="_blank" aria-label="Facebook" class="mx-2">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <a href="https://twitter.com/SaludUNLP" target="_blank" aria-label="Twitter" class="mx-2">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a href="https://www.instagram.com/prosecretariasalud.unlp/" target="_blank" aria-label="Twitter" class="mx-2">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a href="mailto:salud@presi.unlp.edu.ar" aria-label="Correo electrónico" class="mx-2">
        <i class="fas fa-envelope fa-lg"></i>
      </a>
    </div>
  </div>
</footer>
