$primary: #256f73;
$link: #478c7f;
$secondary: #02535e;
$accent: #00bfa5;
$background: #f5f5f5;
$text: #222;
$text-inverse: #fff;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;


$family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$body-background-color: $background;
$body-color: $text;

$navbar-background-color: $primary;
$sidebar-background-color: #f8f9fa;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
